<div *ngIf="!isLoading && hasError">
  <p>Błąd ładowania danych - {{ error }}</p>
  <button (click)="refreshPage()">Spróbój ponownie</button>
</div>
<div *ngIf="isLoading">
  <p>Loading....</p>
</div>

<div *ngIf="movies | async as movies">
  <h3>Popular movies</h3>
  <div class="container" *ngIf="movies.results.length > 0; else noData">
    <div class="row">
        <div class="d-flex flex-column align-items-center p-2 col-4" *ngFor="let movie of movies.results">
          <h4>{{ movie.original_title }}</h4>
          <img
            class="img-fluid"
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="{{ movie.original_title }}"
            width="200"
            height="200"
          />
          <div class="btn-group mt-1" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" (click)="addMovieToFavorite(movie.id)">
              dodaj do ulubionych
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="addMovieToWatchlist(movie.id)">
              dodaj do watch listy
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
<ng-template #noData>
  <p>No movies</p>
</ng-template>
