<div class="container">
  <h1>Order Pizza</h1>
  <form [formGroup]="pizzaOrderForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input
        id="name"
        formControlName="name"
        placeholder="Wprowadź swoje imię"
        [ngClass]="{ 'input-error': name?.invalid && name?.touched }"
      />
      <em *ngIf="name?.invalid && name?.touched">
        <span *ngIf="name?.errors?.['required']" class="error-message">Imię jest wymagane.</span>
        <span *ngIf="name?.errors?.['pattern']" class="error-message">Imię może zawierać tylko litery.</span>
        <span *ngIf="name?.errors?.['minlength']" class="error-message">Imię musi mieć co najmniej 2 litery.</span>
      </em>
    </div>
    <div>
      <label for="address">Address:</label>
      <input
        id="address"
        formControlName="address"
        placeholder="Wprowadź adres"
        [ngClass]="{ 'input-error': address?.invalid && address?.touched }"
      />
      <em *ngIf="address?.invalid && address?.touched">
        <span *ngIf="address?.errors?.['required']" class="error-message">Adres jest wymagany.</span>
        <span *ngIf="address?.errors?.['minlength']" class="error-message">Adres musi mieć co najmniej 8 znaków.</span>
        <span *ngIf="pizzaOrderForm.get('address')?.hasError('noOnlySpaces')" class="error-message"> Pole zawiera tylko spacje. </span>
      </em>
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input
        id="phone"
        formControlName="phone"
        placeholder="Wprowadź telefon"
        [ngClass]="{ 'input-error': phone?.invalid && phone?.touched }"
      />
      <em *ngIf="phone?.invalid && phone?.touched">
        <span *ngIf="phone?.errors?.['required']" class="error-message">Telefon jest wymagany.</span>
        <span *ngIf="phone?.errors?.['pattern']" class="error-message">Telefon musi mieć 9 cufr.</span>
      </em>
    </div>

    <div formArrayName="pizzas">
      <div *ngFor="let pizza of pizzas.controls; let i = index" [formGroupName]="i">
        <h3>Pizza {{ i + 1 }}</h3>
        <div>
          <label for="type">Type:</label>
          <select formControlName="type">
            <option value="margheritha">Margheritha</option>
            <option value="pepperoni">Pepperoni</option>
            <option value="hawajska">Hawajska</option>
          </select>
        </div>
        <div>
          <label>Size:</label>
          <select formControlName="size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
        </div>
        <div formGroupName="toppings">
          <label> <input type="checkbox" formControlName="cheese" /> Cheese </label>
          <label> <input type="checkbox" formControlName="pepperoni" /> Pepperoni </label>
          <label> <input type="checkbox" formControlName="mushrooms" /> Mushrooms </label>
        </div>
        <button type="button" (click)="removePizza(i)">Remove Pizza</button>
      </div>
    </div>
    <button type="button" (click)="addPizza()">Add Pizza</button>
    <button type="submit" [disabled]="pizzaOrderForm.invalid">Submit Order</button>
  </form>
</div>
