@if (!isLoading() && hasError()) {
  <p>Błąd ładowania danych - {{ error() }}</p>
  <button (click)="refreshPage()">Spróbój ponownie</button>
} @else if (isLoading()) {
  <p>Loading....</p>
} @else if (movies()) {
  <div>
    <h3>Watchlist movies</h3>
    @if (movies()!.results.length > 0) {
      <div class="container">
        <div class="row">
          @for (movie of movies()!.results; track movie.id) {
            <div class="d-flex flex-column align-items-center p-2 col-4">
              <h4>{{ movie.original_title }}</h4>
              <img
                class="img-fluid"
                [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : 'assets/no-image.png'"
                alt="{{ movie.original_title }}"
                width="200"
                height="200"
              />
              <button class="btn btn-danger mt-1" (click)="updateWatchlist(movie.id)">usuń z listy</button>
            </div>
          }
        </div>
      </div>
    } @else {
      <p>No movies</p>
    }
  </div>
}
