<div *ngIf="movies | async as movies; else loading">
  <h3>Watchlist movies</h3>
  <div>
    <ol>
      <li *ngFor="let movie of movies.results">
        <h4>{{ movie.original_title }}</h4>
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          alt="{{ movie.original_title }}"
          width="200"
          height="200"
        />
        <button (click)="updateWatchlist(movie.id)">usuń z listy</button>
      </li>
    </ol>
  </div>
</div>
<ng-template #loading>
  <p>Loading..</p>
</ng-template>
